
* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}
.encabezado {
    height: 210px;
    width: 100%;
    background-image:url(../imagenes/cesped23.png);
    background-position: bottom;
}
.logo {
    padding: 5px;
    font-family: 'Bodoni Moda', serif;
    font-weight: 700;
    font-size: 6rem;
    color: $color-logo;
    text-decoration: none;
}
.logo:hover {
    color: $color-borde-imagen !important;
    text-decoration: none;
}
.menu {
    font-weight: 400;
    font-size: 1.8rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
    align-content: center;
        a {
            color: #2F5D62 !important;
            text-decoration: none;
        }
        a:hover {
            color: $color-borde-imagen !important;
        }
}
.card {
    width: 18rem;
}
.card-img-top {
    height: 18rem;
}
.empresa {
    color: $color-primario;
    font-size: 1.5rem;
    line-height: 2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 20px;
    h1 {
        color: #5E8B7E;
    }
    .marca {
        width: 11rem;
        margin: 30px;
        border: none;
    }
}
.texto {
    text-align: justify;
    color: $color-primario;
        a {
            text-decoration: underline;
            color: #2F5D62;
        }
} 
.casos {
    color: $color-primario;
    gap: 30px;
    height: auto;
    .card {
        transition: all .3s ease-in-out;
        opacity: .8;
    }
    .card:hover {
        box-shadow: 0 0 4px #e16b0b;
        opacity: 1;
    }

}
.presentacion {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: $size-texto;
    color: #5E8B7E;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-content: center;
    align-items: center;
        p {
            font-size: 2.5rem;
            color: #5E8B7E;
            padding: 15px;
            display: flex;
            justify-content: center;
        }
        ol {
            list-style: square;
            list-style-position: inside;
            text-align: left;
            line-height: 2;
        }
} 
.productos {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: $size-texto;
    color: #5E8B7E;
    width: 100%;
    height: auto;
    padding: 15px 0;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
        p {
            font-size: 2.5rem;
            color: #5E8B7E;
            padding: 15px;
            display: flex;
            justify-content: center; 
        }
} 
.table {
    color: #5E8B7E;
    width: fit-content;
}
.fotos {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    align-content: center;
        img {
            height: 300px;
            width: 400px !important;
            justify-content: center;
            opacity: 0.8;
        }
        img:hover {
            box-shadow: 0 0 4px #e16b0b;
            opacity: 1;
        }
} 
.consulta {
    font-weight: 500;
    color: #5E8B7E;
    padding: 10px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    h2 {
        font-size: 2.5rem;
        color: #5E8B7E;
        margin: 1.5rem;
        font-weight: 500;
    }
}
.info {
    padding: 20px;
        .fondoBoton {
            background-color: whitesmoke;
        }
        .btn-outline-secondary:hover{
                background-color: #e16b0b;
                color: #fff;
        }
}
.consulta input, option, textarea, select {
    color: #2F5D62;
    margin: 10px;
    border-radius: 3px;
}
.btn-outline-secondary:hover {
    color: #2F5D62;
    background-color: $color-borde-imagen;
}
.btn-secondary, .btn-outline-secondary {
    background-color: $color-fondo-secciones;
    color: $color-primario;
}
.btn-secondary:hover {
    background-color: #e16b0b;
}
.colorModal {
    color: $color-primario;
}

/* pie de pagina*/

.pie {
    height: 190px;
    background: whitesmoke;
    font-family: 'Roboto', sans-serif;
    color: #2F5D62;
    font-size: 1rem;
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: center;
    align-items: center; 
        img {
            width: 30px;
            height: 30px;
        }
        p {
            margin: 15px;
        }
        a {
            text-decoration: none;
            color: #2F5D62;
            padding: 20px;
        }
}
