@media all and (max-width:768px) {
    .logo a {
        font-size: 4rem;
    }
    .casos h2 {
        font-size: 1.7rem;
    }
}
@media all and (max-width:576px) {
    .encabezado {
        height: 220px;
        .row {
            justify-content: space-between;
        }
    }
    .logo a {
        font-size: 3rem;
    }
    .menu {
        font-size: 1rem;
        justify-content: space-evenly;
    }
    .navbar {
        justify-content: flex-end;
    }
    .main img {
        width: 100%;
    }
    .fotos img {
        height: auto;
    }
    .consulta h2 {
        font-size: 1.5rem;
    }
    .texto {
        font-size: 1rem;
    }
    .casos h2 {
        font-size: 1.5rem;
    }
    .pie {
        height: auto;
        font-size: 1rem;
    }
    .pie a {
        font-size: 1rem;
    }
}
