@media all and (max-width:768px) {
    .logo {
        font-size: 4rem;
    }
    .casos {
        height: auto;
    }
}
@media all and (max-width:576px) {
    .encabezado {
        height: 240px;
        .row {
            justify-content: space-between;
        }
    }
    .logo {
        font-size: 3.5rem;
    }
    .menu {
        font-size: 1rem;
        line-height: 0.8;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 0px;
        justify-content: flex-end;
        align-content: flex-end;
        align-items: flex-end;
    }
    .navbar {
        justify-content: space-between;
    }
    .casos {
        height: auto;
    }
    .fotos img {
        height: auto;
    }
    .consulta h2 {
        font-size: 1.5rem;
    }
    .texto {
        font-size: 1rem;
    }
    .pie {
        height: auto;
        font-size: .5rem;
    }
    .pie a {
        font-size: 1rem;
    }
}
